.day-component{
    width: 100%;
    position: relative;
}

.day-left{
    height: 100vh;
    width: 70px;
    float: left;
}

.day-box{
    color:black;
    transition: background-color .5s;
    font-size: 26px;
    width: calc((100vw - 430px) / 7);
    float: left;
    font-weight: 600;
}

.day-table{
    position: absolute;
    right: 50px;
    height: 900px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (max-width:1550px){
    .day-table{
        display: none;
    }
}