.main-calendar{
    background-color: white;
    width: calc(100vw - 350px);
    height: 100vh;
}

.main-calendar-head{
    padding:14px;
    height: 30px;
    position: relative;
    display: flex;
    min-width: 620px;
}

.main-calendar-head div:first-child,
.main-calendar-head span{
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(201, 201, 201);
    border:1px solid white;
    text-align: center;
    height: 28px;
    width: 80px;
    border-radius: 7px;
    display: inline-block;
}

.clicked{
    color: white;
    transition: background-color .5s, color .5s;
    background-color: red !important;
}